.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resetbtn{
    background-color: crimson;
    border: none;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#grid-container{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr;
}
.box{
    height: 60px;
    width: 60px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: grey;
    box-shadow: -2px 2px;
    color:white
}
.box:hover{
    background-color: white;
    color:black
}